<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Register Page</title>

</head>
<body data-ng-app="myApp">	

		<div class="container">
			<div class="row main">
				<div class="main-login main-center">
				<h2 align="center" style="color: black;">Registration Form</h2>
				<form class="form-horizontal" role="form" data-ng-submit="submit()" action="" data-ng-controller="userctrl">
									

						<div class="form-group">
							<label for="username" class="cols-sm-3 control-label" style="color: black;">Username</label>
							<div class="cols-sm-9">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
									 <input type="text" id="userName" placeholder="User Name" required data-ng-model="username" class="form-control" autofocus />
                     		</div>
							</div>
						</div>
                        
                        <div class="form-group">
							<label for="email" class="cols-sm-3 control-label" style="color: black;">Your Email</label>
							<div class="cols-sm-9">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
									  <input type="email" id="email" placeholder="Email" required data-ng-model="mail" class="form-control"/>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="password" class="cols-sm-3control-label" style="color: black;">Password</label>
							<div class="cols-sm-9">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
								  <input type="password" id="password" required placeholder="Password" data-ng-model="password" class="form-control"/>
								</div>
							</div>
						</div>
                        
                        <div class="form-group">
							<label for="confirm" class="cols-sm-3 control-label" style="color: black;">Mobile</label>
							<div class="cols-sm-9">
								<div class="input-group">
									<span class="input-group-addon"><i class="glyphicon glyphicon-phone" aria-hidden="true"></i></span>
									  <input type="number" id="mobile" placeholder="mobile" required  data-ng-model="mobile" class="form-control">
								</div>
							</div>
                            </div>

						<div class="form-group">
							<label for="confirm" class="cols-sm-9 control-label" style="color: black;">Date</label>
							<div class="cols-sm-9">
								<div class="input-group">
									<span class="input-group-addon"><i class="glyphicon glyphicon-calendar" aria-hidden="true"></i></span>
									  <input type="date" id="birthDate" required data-ng-model="dob" class="form-control">
								</div>
							</div>
                            </div>
                            <div class="form-group">
                    <label class="control-label col-sm-3" style="color: black;">Gender</label>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-4">
                                <label class="radio-inline" style="color: black;">
                                    <input type="radio" id="femaleRadio" data-ng-model="gender" value="Female"><b>Female</b>
                                </label>
                            </div>
                            <div class="col-sm-4">
                                <label class="radio-inline" style="color: black;">
                                    <input type="radio" id="maleRadio" data-ng-model="gender" value="Male"><b>Male</b>
                                </label>
                            </div>
                           
                        </div>
                    </div>
                </div> 
                <div class="form-group">
                    <label class="control-label col-sm-3" style="color: black;">Role</label>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-4">
                                <label class="radio-inline" style="color: black;">
                                    <input type="radio" id="alumniRadio" data-ng-model="role" value="Alumni"><b>Alumni</b>
                                </label>
                            </div>
                            <div class="col-sm-4">
                                <label class="radio-inline" style="color: black;">
                                    <input type="radio" id="studentRadio" data-ng-model="role" value="Student"><b>Student</b>
                                </label>
                            </div>
                           <div class="col-sm-4">
                                <label class="radio-inline" style="color: black;">
                                    <input type="radio" id="employeeRadio" data-ng-model="role" value="Employee"><b>Employee</b>
                                </label>
                            </div>
                            <div class="col-sm-4">
                                <label class="radio-inline" style="color: black;">
                                    <input type="radio" id="employeeRadio" data-ng-model="role" value="Admin"><b>Admin</b>
                                </label>
                            </div>
                        </div>
                    </div>
                </div> 
                <div class="form-group">
                    <label for="address" class="col-sm-3 control-label" style="color: black;">Address</label>
                    <div class="col-sm-9">
                        <textarea draggable="true" rows="5" data-ng-model="address" id="address"  class="form-control"></textarea>
                    </div>
                </div>
                

						<div class="form-group ">
                      				<button type="submit" id="button" class="btn btn-primary btn-lg btn-block login-button" style="color: black;">Register</button>
						</div>
						<p class="change_link" style="color: black;">  
									<b>Already a member ?</b>
									<a href="#login" class="to_register"> Go and Login</a>
								</p>						
					</form>
				</div>
			</div>
		</div>

</body>
</html>