
<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Form Page</title>
<body data-ng-app="myApp">

<div class="container">
<form role="form" data-ng-submit="submit()" class="form-horizontal"
		 action="" data-ng-controller="forumctrl"><br>
		  <h2 align="center"><b>View Forums</b></h2>
		  
	</form>
	</div>
	
	<div class="container" style="padding-top:10px">
	<div class="row">
        <div class="col-md-4 col-md-offset-3">
         <form action="" class="search-form">
                <div class="form-group has-feedback">
	<b><input type="text" data-ng-model="search" placeholder="Search Forum"  class="form-control"></b>
	 <span class="glyphicon glyphicon-search form-control-feedback"></span>
	 </div>
	 </form>
	</div></div></div>
	<div data-ng-init="getAllForum()">
	<div data-ng-repeat="forum in forums | filter:search">
	<div class="container">
	<div class="row">
 <div class="span3">
        	<div class="well">
<h2 class="text-info">NAME : {{forum.name}}</h2>	<hr>
		<p ><span class="label label-info"><font size="3">TOPIC : {{forum.topic}}</font></span></p><hr>
	<p>DESCRIPTION : {{forum.description}}</p>
	<hr>
	<button data-ng-show="forum.userid==globals.currentUser.username" data-ng-click="editforum(forum.id,forum.name,forum.topic,forum.description)" class="btn btn-success">Edit</button>
	<button data-ng-show="forum.userid==globals.currentUser.username" data-ng-click="deleteforum(forum.id)" class="btn btn-primary btn-danger">Delete</button>
	 <a href=""><button align="right" class="btn btn-primary" data-ng-click="getforum(forum.id)" data-ng-show="globals.currentUser.islogged">Comment This Forum</button> </a>
	</div>
	</div></div></div></div></div>
</body>
</html>